# venv folder 
**/venv/

# vscode folders
**/.vscode/

#ignore compiler
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# sqlite
*/sqlite-snapshot-201708031550/

# ignore data
*.csv
*.json
*.json~
*.xml
*.iml
